VITE_API_URL=
# Default: http://localhost:4000/api/v1
VITE_API_ROOT_URL=http://localhost:4000/
# Default: http://localhost:4000/
VITE_WS_URL=
# Default: ws://localhost:4000
VITE_QUESTIONS_PER_ROUND=
# Default: 12
VITE_TEAM_URL=
# Default: http://localhost:5174
